.main-container {
  height: calc(100vh - 25px);
}

.logo {
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

h1 {
    font-size: 40px;
    padding: 15px;
  }

footer {
  width: 100%;
  height: 25px;
  background-color: black;
}

.uno-container {
  height: calc(100vh - 25px);
}
  .uno-container .logo {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
  }

  .uno-container .loading {
    width: 100%;
    font-family: 'Linden Hill', serif;
    font-weight: 100;
    padding-top: 20px;
  }
    .uno-container .loading .loading-title {
      font-size: 30px;
      text-align: center;
    }
    .uno-container .loading .loading-action {
      font-family: sans-serif;
      font-size: 30px;
      text-align: center;
      padding: 20px;
      color: #d0d0d0;
    }
    .uno-container .loading .loading-description {
      width: 100%;
      padding: 0 30px;
    }
  .uno-container .backup {
    font-family: 'Linden Hill', serif;
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
  }
    .uno-container .backup .ty {
      font-size: 30px;
    }
  .uno-container .other-proccess {
    padding: 5px;
  }
    .uno-container .other-proccess p {
      margin-bottom: 5px;
    }
    .uno-container .other-proccess .non-iphone {
      height: 350px;
      width: 300px;
      border: 1px solid black;
      margin: auto;
      padding: 20px;
    }
      .uno-container .other-proccess .non-iphone input {
        border: 1px solid black;
        height: 24px;
        font-size: 20px;
        width: 98%;
        display: block;
        margin: auto;
        margin-bottom: 20px;
        padding: 5px;
      }
      .uno-container .other-proccess .non-iphone input::placeholder {
        color: #d0d0d0;
      }
      .uno-container .other-proccess .non-iphone textarea {
        display: block;
        margin: auto;
        padding: 5px;
        border: 1px solid black;
        font-size: 20px;
        width: 98%;
        resize: none;
      }
      .uno-container .other-proccess .non-iphone textarea:focus {
        outline: none;
      }
      .uno-container .other-proccess .non-iphone button {
        display: block;
        border: 1px solid black;
        background-color: #8a8aff;
        color: white;
        font-size: 20px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        cursor: pointer;
      }
      .uno-container .other-proccess .non-iphone button:hover {
        background-color: #00af03;
      }
      .uno-container .other-proccess .non-iphone button:hover {
        outline: none;
      }

.ampersand-container .loading {
  width: 100%;
  font-family: 'Linden Hill', serif;
  font-weight: 100;
  padding-top: 20px;
}
  .ampersand-container .loading .loading-title {
    font-size: 30px;
    text-align: center;
  }
  .ampersand-container .loading .loading-action {
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    color: #d0d0d0;
  }
  .ampersand-container .loading .loading-description {
    width: 100%;
    padding: 0 30px;
  }

.ampersand-container .backup {
  font-family: 'Linden Hill', serif;
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
}
  .ampersand-container .backup .ty {
    font-size: 30px;
  }

.semicolon-container .loading {
  width: 100%;
  font-family: 'Linden Hill', serif;
  font-weight: 100;
  padding-top: 20px;
}
  .semicolon-container .loading .loading-title {
    font-size: 30px;
    text-align: center;
  }
  .semicolon-container .loading .loading-action {
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    color: #d0d0d0;
  }
  .semicolon-container .loading .loading-description {
    width: 100%;
    padding: 0 30px;
  }

.semicolon-container .backup {
  font-family: 'Linden Hill', serif;
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
}
  .semicolon-container .backup .ty {
    font-size: 30px;
  }

.questionmark-container .loading {
  width: 100%;
  font-family: 'Linden Hill', serif;
  font-weight: 100;
  padding-top: 20px;
}
  .questionmark-container .loading .loading-title {
    font-size: 30px;
    text-align: center;
  }
  .questionmark-container .loading .loading-action {
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    color: #d0d0d0;
  }
  .questionmark-container .loading .loading-description {
    width: 100%;
    padding: 0 30px;
  }

.questionmark-container .backup {
  font-family: 'Linden Hill', serif;
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
}
  .questionmark-container .backup .ty {
    font-size: 30px;
  }
