<div class="main-container semicolon-container">
  <div class="title-holder">
    <div class="logo">
      <h1>LOGO</h1>
    </div>
  </div>
  <div class="loading" ng-show="isLoading">
    <div class="loading-title">
      Hang Tight!
    </div>
    <div class="loading-action">
      <span ng-style="countDown3">3</span> - <span ng-style="countDown2">2</span> - <span ng-style="countDown1">1</span>
    </div>
    <div class="loading-description">
      We are generating a unique request code to give you special access
    </div>
  </div>
  <div class="backup" ng-hide="isLoading || !url">
    <div class="ty">
      Thank You!
    </div>
    Click <a id="link">here</a> if your messaging app doesn't automatically open
  </div>
</div>
<footer>

</footer>
